<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhoneDir Home</title>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <div id='header'>
        <div>Phone Directory</div>
        <div>
            <button onclick="window.location='login';">Login</button>
            <button onclick="window.location='signup';">Signup</button>
        </div>
        <br>
        <form action="" method="POST">
            <div id='formItems'>
                <label>Name</label>
                <input type="text" name="name" id="name">

                <label>Email</label>
                <input type="email" name="email" id="email">

                <label>Phone number</label>
                <input type="number" name="pnum" id="pnum">

                <input type="submit" value="Submit">

            </div>
        </form>
</body>

</html>