<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhoneDir Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <div id='header'>
        <div>Phone Directory</div>
        <div>
            <button onclick="window.location='../users/login';">Login</button>
            <button onclick="window.location='../users/signup';">Signup</button>
        </div>
    </div>
    <br>
    <form th:object="${post}" th:action="@{/posts/create}" method="POST">
        <div id='formItems'>
            <label>Name</label>
            <input type="text" name="name" id="name">

            <label>Email</label>
            <input type="email" name="email" id="email">

            <label>Phone number</label>
            <input type="number" name="pnum" id="pnum">

            <input type="submit" value="Submit">

        </div>
    </form>

    <div id="posts">
        <post th:each="p : ${posts}">

            <div>
                <label> Name: </label>
                <h2 th:text="${p.name}"></h2>

                <label> Email:</label>
                <h2 th:text="${p.email}"></h2>

                <label> Phone:</label>
                <h2 th:text="${p.phonenumber}"></h2>

            </div>
            <div>
                <form th:action="@{/deletepost(postId=${p.id})}" th:method="delete">
                    <input type="submit" value="DELETE" />
                </form>
            </div>
        </post>
    </div>
</body>

</html>